@{
    var role = Context.Session.GetInt32("Role");
    string avatarBase64 = Context.Session.GetString("Avtar");
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="description" content="POS - Bootstrap Admin Template">
    <meta name="keywords"
          content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern,  html5, responsive">
    <meta name="author" content="Dreamguys - Bootstrap Admin Template">
    <meta name="robots" content="noindex, nofollow">
    <title>Smart Invoice</title>

    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.png">



    <link rel="stylesheet" href="~/assets/plugins/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/plugins/owlcarousel/owl.theme.default.min.css">

    <link rel="stylesheet" href="~/assets/plugins/select2/css/select2.min.css">

    <link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.min.css">


    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/assets/css/animate.css">

    <link rel="stylesheet" href="~/assets/css/dataTables.bootstrap4.min.css">

    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="~/assets/css/style.css">
</head>

<body>
    <div id="global-loader">
        <div class="whirly-loader"> </div>
    </div>

    <div class="main-wrapper">

        <div class="header">

            <div class="header-left active">
                <a asp-area="" asp-controller="Home" asp-action="index" class="logo">
                    <img src="~/assets/img/logo.png" alt="">
                </a>
                <a asp-area="" asp-controller="Home" asp-action="index" class="logo-small">
                    <img src="~/assets/img/logo-small.png" alt="">
                </a>
                <a id="toggle_btn" href="javascript:void(0);">
                </a>
            </div>

            <a id="mobile_btn" class="mobile_btn" href="#sidebar">
                <span class="bar-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </a>

            <ul class="nav user-menu">

                <li class="nav-item">
                    <div class="top-nav-search">
                        <a href="javascript:void(0);" class="responsive-search">
                            <i class="fa fa-search"></i>
                        </a>
                        <form action="#">
                            <div class="searchinputs">
                                <input type="text" placeholder="Search Here ...">
                                <div class="search-addon">
                                    <span><img src="~/assets/img/icons/closes.svg" alt="img"></span>
                                </div>
                            </div>
                            <a class="btn" id="searchdiv"><img src="~/assets/img/icons/search.svg" alt="img"></a>
                        </form>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                        <img src="~/assets/img/icons/notification-bing.svg" alt="img"> <span class="badge rounded-pill">4</span>
                    </a>
                    <div class="dropdown-menu notifications">
                        <div class="topnav-dropdown-header">
                            <span class="notification-title">Notifications</span>
                            <a href="javascript:void(0)" class="clear-noti"> Clear All </a>
                        </div>
                        <div class="noti-content">
                            <ul class="notification-list">
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media d-flex">
                                            <span class="avatar flex-shrink-0">
                                                <img alt="" src="assets/img/profiles/avatar-02.jpg">
                                            </span>
                                            <div class="media-body flex-grow-1">
                                                <p class="noti-details">
                                                    <span class="noti-title">John Doe</span> added
                                                    new task <span class="noti-title">Patient appointment booking</span>
                                                </p>
                                                <p class="noti-time">
                                                    <span class="notification-time">4 mins ago</span>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media d-flex">
                                            <span class="avatar flex-shrink-0">
                                                <img alt="" src="~/assets/img/profiles/avatar-03.jpg">
                                            </span>
                                            <div class="media-body flex-grow-1">
                                                <p class="noti-details">
                                                    <span class="noti-title">Tarah Shropshire</span>
                                                    changed the task name <span class="noti-title">
                                                        Appointment booking
                                                        with payment gateway
                                                    </span>
                                                </p>
                                                <p class="noti-time">
                                                    <span class="notification-time">6 mins ago</span>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media d-flex">
                                            <span class="avatar flex-shrink-0">
                                                <img alt="" src="~/assets/img/profiles/avatar-06.jpg">
                                            </span>
                                            <div class="media-body flex-grow-1">
                                                <p class="noti-details">
                                                    <span class="noti-title">Misty Tison</span>
                                                    added <span class="noti-title">Domenic Houston</span> and <span class="noti-title">Claire Mapes</span> to project <span class="noti-title">Doctor available module</span>
                                                </p>
                                                <p class="noti-time">
                                                    <span class="notification-time">8 mins ago</span>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media d-flex">
                                            <span class="avatar flex-shrink-0">
                                                <img alt="" src="~/assets/img/profiles/avatar-17.jpg">
                                            </span>
                                            <div class="media-body flex-grow-1">
                                                <p class="noti-details">
                                                    <span class="noti-title">Rolland Webber</span>
                                                    completed task <span class="noti-title">
                                                        Patient and Doctor video
                                                        conferencing
                                                    </span>
                                                </p>
                                                <p class="noti-time">
                                                    <span class="notification-time">12 mins ago</span>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media d-flex">
                                            <span class="avatar flex-shrink-0">
                                                <img alt="" src="~/assets/img/profiles/avatar-13.jpg">
                                            </span>
                                            <div class="media-body flex-grow-1">
                                                <p class="noti-details">
                                                    <span class="noti-title">Bernardo Galaviz</span>
                                                    added new task <span class="noti-title">Private chat module</span>
                                                </p>
                                                <p class="noti-time">
                                                    <span class="notification-time">2 days ago</span>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="topnav-dropdown-footer">
                            <a href="activities.html">View all Notifications</a>
                        </div>
                    </div>
                </li>

                <li class="nav-item dropdown has-arrow main-drop">
                    <a href="javascript:void(0);" class="dropdown-toggle nav-link userset" data-bs-toggle="dropdown">
                        <span class="user-img">

                            <img class="product-img" src="data:image/jpeg;base64, @avatarBase64" alt="">
                            <span class="status online"></span>
                        </span>
                    </a>
                    <div class="dropdown-menu menu-drop-user">
                        <div class="profilename">
                            <div class="profileset">
                                <span class="user-img">
                                    <img src="data:image/jpeg;base64, @avatarBase64" alt="">

                                    <span class="status online"></span>
                                </span>
                                <div class="profilesets">
                                    <h6>@Context.Session.GetString("FirstName") @Context.Session.GetString("LastName")</h6>
                                    <h5>
                                        @if (role == 0)
                                        {
                                            <text>Admin</text>
                                        }
                                        else if (role == 1)
                                        {
                                            <text>User</text>
                                        }
                                        else
                                        {
                                            <text>Unknown Role</text>
                                        }
                                    </h5>
                                </div>
                            </div>
                            <hr class="m-0">
                            <a class="dropdown-item" href="profile.html">
                                <i class="me-2" data-feather="user"></i> My
                                Profile
                            </a>
                            <a class="dropdown-item" href="generalsettings.html">
                                <i class="me-2"
                                   data-feather="settings"></i>Settings
                            </a>
                            <hr class="m-0">
                            <a class="dropdown-item logout pb-0" href="/LogOut">
                                <img src="~/assets/img/icons/log-out.svg" class="me-2" alt="img">Logout
                            </a>
                        </div>
                    </div>
                </li>
            </ul>


            <div class="dropdown mobile-user-menu">
                <a href="javascript:void(0);" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                   aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="profile.html">My Profile</a>
                    <a class="dropdown-item" href="generalsettings.html">Settings</a>
                    <a class="dropdown-item" href="signin.html">Logout</a>
                </div>
            </div>

        </div>


        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class=" @(ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? "active" : "")">
                            <a asp-area="" asp-controller="Home" asp-action="index">
                                <img src="~/assets/img/icons/dashboard.svg" alt="img"><span>
                                    Dashboard
                                </span>
                            </a>
                        </li>
                        <li class=" @(ViewContext.RouteData.Values["Controller"].ToString() == "Category" ? "active" : "")">
                            <a asp-area="" asp-controller="Category" asp-action="index">
                                <img src="~/assets/img/icons/product.svg" alt="img"><span>
                                    Category
                                </span>
                            </a>
                        </li>
                        <li class=" @(ViewContext.RouteData.Values["Controller"].ToString() == "Product" ? "active" : "")">
                            <a asp-area="" asp-controller="Product" asp-action="index">
                                <img src="~/assets/img/icons/quotation1.svg" alt="img"><span>
                                    Product
                                </span>
                            </a>
                        </li>
                        <li class=" @(ViewContext.RouteData.Values["Controller"].ToString() == "POS" ? "active" : "")">
                            <a asp-area="" asp-controller="POS" asp-action="index">
                                <img src="~/assets/img/icons/sales1.svg" alt="img"><span>
                                    POS
                                </span> 
                            </a>
                           
                        </li>
                        @*<li class="submenu">
            <a href="javascript:void(0);">
                <img src="~/assets/img/icons/purchase1.svg" alt="img"><span>
                    Purchase
                </span> <span class="menu-arrow"></span>
            </a>
            <ul>
                <li><a href="purchaselist.html">Purchase List</a></li>
                <li><a href="addpurchase.html">Add Purchase</a></li>
                <li><a href="importpurchase.html">Import Purchase</a></li>
            </ul>
        </li>*@
                        @*<li class="submenu">
            <a href="javascript:void(0);">
                <img src="~/assets/img/icons/expense1.svg" alt="img"><span>
                    Expense
                </span> <span class="menu-arrow"></span>
            </a>
            <ul>
                <li><a href="expenselist.html">Expense List</a></li>
                <li><a href="createexpense.html">Add Expense</a></li>
                <li><a href="expensecategory.html">Expense Category</a></li>
            </ul>
        </li>*@

                        @*<ul>
            <li><a href="quotationList.html">Quotation List</a></li>
            <li><a href="addquotation.html">Add Quotation</a></li>
        </ul>*@

                        <li class=" @(ViewContext.RouteData.Values["Controller"].ToString() == "Sales" ? "active" : "")">
                            <a asp-area="" asp-controller="Sales" asp-action="index">
                                <img src="~/assets/img/icons/transfer1.svg" alt="img"><span>
                                   Innvoice History
                                </span> 
                            </a>
                        </li>
                        @*<li class="submenu">
                            <a href="javascript:void(0);">
                                <img src="~/assets/img/icons/return1.svg" alt="img"><span>
                                    Return
                                </span> <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="salesreturnlist.html">Sales Return List</a></li>
                                <li><a href="createsalesreturn.html">Add Sales Return </a></li>
                                <li><a href="purchasereturnlist.html">Purchase Return List</a></li>
                                <li><a href="createpurchasereturn.html">Add Purchase Return </a></li>
                            </ul>
                        </li>*@
                        <li class=" @(ViewContext.RouteData.Values["Controller"].ToString() == "Customer" ? "active" : "")">
                            <a asp-area="" asp-controller="Customer" asp-action="index">
                                <img src="~/assets/img/icons/customers.svg" alt="img"><span>
                                    Customer
                                </span>
                            </a>
                        </li>
                        @if (role == 0)
                        {
                            <li class=" @(ViewContext.RouteData.Values["Controller"].ToString() == "Store" ? "active" : "")">
                                <a asp-area="" asp-controller="Store" asp-action="index">
                                    <img src="~/assets/img/icons/ShopSVG.svg" alt="img"><span>
                                        Shop
                                    </span>@* <span class="menu-arrow"></span>*@
                                </a>
                            </li>
                            }
                        <li class=" @(ViewContext.RouteData.Values["Controller"].ToString() == "User" ? "active" : "")">
                            <a asp-area="" asp-controller="User" asp-action="index">
                                <img src="~/assets/img/icons/users1.svg" alt="img"><span>
                                    Users
                                </span>@* <span class="menu-arrow"></span>*@
                            </a>

                            @*<ul>
                <li><a href="newuser.html">New User </a></li>
                <li><a href="userlists.html">Users List</a></li>
            </ul>*@
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);">
                                <img src="~/assets/img/icons/settings.svg" alt="img"><span>
                                    Settings
                                </span> <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="generalsettings.html">General Settings</a></li>
                                <li><a href="emailsettings.html">Email Settings</a></li>
                                <li><a href="paymentsettings.html">Payment Settings</a></li>
                                <li><a href="currencysettings.html">Currency Settings</a></li>
                                <li><a href="grouppermissions.html">Group Permissions</a></li>
                                <li><a href="taxrates.html">Tax Rates</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="page-wrapper">
            @RenderBody()
        </div>
    </div>



   


    <script src="~/assets/plugins/select2/js/select2.min.js"></script>

    <script src="~/assets/plugins/owlcarousel/owl.carousel.min.js"></script>



    <script src="~/assets/js/jquery-3.6.0.min.js"></script>

    <script src="~/assets/js/feather.min.js"></script>

    <script src="~/assets/js/jquery.slimscroll.min.js"></script>

    <script src="~/assets/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/dataTables.bootstrap4.min.js"></script>

    <script src="~/assets/js/bootstrap.bundle.min.js"></script>

    <script src="~/assets/plugins/apexchart/apexcharts.min.js"></script>
    <script src="~/assets/plugins/apexchart/chart-data.js"></script>

    <script src="~/assets/js/script.js"></script>


    @*<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>*@



    <script src="~/assets/js/moment.min.js"></script>
    <script src="~/assets/js/bootstrap-datetimepicker.min.js"></script>

    <script src="~/assets/plugins/sweetalert/sweetalert2.all.min.js"></script>
    <script src="~/assets/plugins/sweetalert/sweetalerts.min.js"></script>

</body>

<!--<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Smart-Invoice</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="index">Product</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>-->
@*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Smart-Invoice - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
<!--<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>-->
</html>
