@page
@{

    Layout = null;

}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@*@model IEnumerable<Invoice_web_app.Models.User>*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="description" content="POS - Bootstrap Admin Template">
    <meta name="keywords"
          content="admin, estimates, bootstrap, business, corporate, creative, invoice, html5, responsive, Projects">
    <meta name="author" content="Dreamguys - Bootstrap Admin Template">
    <meta name="robots" content="noindex, nofollow">
    <title>Login - Smart Invoice</title>

    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.png">

    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="~/assets/css/style.css">
</head>

<body class="account-page">
    <div class="main-wrapper">
        <div class="account-content">
            <div class="login-wrapper">
                <div class="login-content">
                    <div class="login-userset">
                        <div class="login-logo">
                            <img src="~/assets/img/logo.png" alt="img">
                        </div>
                        <div class="login-userheading">
                            <h3>Sign In</h3>
                            <h4>Please login to your account</h4>
                        </div>

                        @*@if (ViewBag.Users != null)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Created At</th>
                        <th>Updated At</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in ViewBag.Users)
                    {
                        <tr>
                            <td>@user.user_id</td>
                            <td>@user.first_name</td>
                            <td>@user.last_name</td>
                            <td>@user.username</td>
                            <td>@user.email</td>
                            <td>@user.role</td>
                            <td>@user.created_at</td>
                            <td>@user.updated_at</td>
                        </tr>
                    }
                </tbody>
            </table>
        }*@
                        <!--<form method="post" asp-page-handler="SignIn">
    <div class="form-login">
        <label>Email</label>
        <div class="form-addons">
            <input type="text" placeholder="Enter your email address">
            <img src="~/assets/img/icons/mail.svg" alt="img">
        </div>
    </div>
    <div class="form-login">
        <label>Password</label>
        <div class="pass-group">
            <input type="password" class="pass-input" placeholder="Enter your password">
            <span class="fas toggle-password fa-eye-slash"></span>
        </div>
    </div>
    <div class="form-login">
        <div class="alreadyuser">
            <h4><a asp-area="" asp-controller="Login" asp-action="Forget" class="hover-a">Forgot Password?</a></h4>
        </div>
    </div>
    <div class="form-login">-->
                        @*<a class="btn btn-login" asp-area="" asp-controller="Home" asp-action="Index">Sign In</a>*@

                        <!--<button type="submit" class="btn btn-login">Sign In</button>
        </div>
    </form>-->

                        @using (Html.BeginForm("SignIn", "Login", FormMethod.Post))
                        {
                            <div class="form-login">
                                <label>Email</label>
                                <div class="form-addons">
                                    <input type="text" name="Email" placeholder="Enter your email address">
                                    <img src="~/assets/img/icons/mail.svg" alt="img">
                                </div>
                            </div>
                            <div class="form-login">
                                <label>Password</label>
                                <div class="pass-group">
                                    <input type="password" name="Password" placeholder="Enter your password">
                                    <span class="fas toggle-password fa-eye-slash"></span>
                                </div>
                            </div>
                            <div class="form-login">
                                <div class="alreadyuser">
                                    <h4><a asp-area="" asp-controller="Login" asp-action="Forget" class="hover-a">Forgot Password?</a></h4>
                                </div>
                            </div>
                            <div class="form-login">
                                <button type="submit" class="btn btn-login">Sign In</button>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(ViewBag.faillogin))
                        {
                        <div class="alert alert-danger" role="alert">
                            @ViewBag.faillogin
                        </div>
                        }
                        <div class="signinform text-center">
                            <h4>Don’t have an account? <a asp-area="" asp-controller="Login" asp-action="SignUp" class="hover-a">Sign Up</a></h4>
                        </div>
                        <div class="form-setlogin">
                            <h4>Or sign up with</h4>
                        </div>
                        <div class="form-sociallink">
                            <ul>
                                <li>
                                    <a href="javascript:void(0);">
                                        <img src="~/assets/img/icons/google.png" class="me-2" alt="google">
                                        Sign Up using Google
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <img src="~/assets/img/icons/facebook.png" class="me-2" alt="google">
                                        Sign Up using Facebook
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="login-img">
                    <img src="~/assets/img/login.jpg" alt="img">
                </div>
            </div>
        </div>
    </div>


    <script src="~/assets/js/jquery-3.6.0.min.js"></script>

    <script src="~/assets/js/feather.min.js"></script>

    <script src="~/assets/js/bootstrap.bundle.min.js"></script>

    <script src="~/assets/js/script.js"></script>
</body>

</html>