@page
@{
}

<div class="content">
    <div class="page-header">
        <div class="page-title">
            <h4>User List</h4>
            <h6>Manage your User</h6>
        </div>
        <div class="page-btn">
            <a a asp-area="" asp-controller="User" asp-action="AddUser" class="btn btn-added">
                <img src="assets/img/icons/plus.svg" alt="img">Add
                User
            </a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="table-top">
                <div class="search-set">
                    <div class="search-path">
                        <a class="btn btn-filter" id="filter_search">
                            <img src="assets/img/icons/filter.svg" alt="img">
                            <span><img src="assets/img/icons/closes.svg" alt="img"></span>
                        </a>
                    </div>
                    <div class="search-input">
                        <a class="btn btn-searchset">
                            <img src="assets/img/icons/search-white.svg"
                                 alt="img">
                        </a>
                    </div>
                </div>
                @*<div class="wordset">
                        <ul>
                            <li>
                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf">
                                    <img src="assets/img/icons/pdf.svg" alt="img">
                                </a>
                            </li>
                            <li>
                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="excel">
                                    <img src="assets/img/icons/excel.svg" alt="img">
                                </a>
                            </li>
                            <li>
                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="print">
                                    <img src="assets/img/icons/printer.svg" alt="img">
                                </a>
                            </li>
                        </ul>
                    </div>*@
            </div>

            <div class="card" id="filter_inputs">
                <div class="card-body pb-0">
                    <div class="row">
                        <div class="col-lg-2 col-sm-6 col-12">
                            <div class="form-group">
                                <input type="text" placeholder="Enter User Name">
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-6 col-12">
                            <div class="form-group">
                                <input type="text" placeholder="Enter Phone">
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-6 col-12">
                            <div class="form-group">
                                <input type="text" placeholder="Enter Email">
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-6 col-12">
                            <div class="form-group">
                                <input type="text" class="datetimepicker cal-icon"
                                       placeholder="Choose Date">
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-6 col-12">
                            <div class="form-group">
                                <select class="select">
                                    <option>Disable</option>
                                    <option>Enable</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-1 col-sm-6 col-12 ms-auto">
                            <div class="form-group">
                                <a class="btn btn-filters ms-auto">
                                    <img src="assets/img/icons/search-whites.svg" alt="img">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table datanew">
                    <thead>
                        <tr>
                            @*<th>
                                    <label class="checkboxs">
                                        <input type="checkbox">
                                        <span class="checkmarks"></span>
                                    </label>
                                </th>*@
                            @*<th>updated at</th>*@
                            <th>Name</th>
                            <th>User name</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Role</th>
                            @*<th>Created On</th>*@
                            <th>Status</th>
                            <th>Action</th>
                            @*[Key]
                                public int user_id { get; set; }
                                public string first_name { get; set; }
                                public string last_name { get; set; }
                                public string username { get; set; }
                                public string pwd { get; set; }
                                public string phone { get; set; }
                                public string email { get; set; }
                                public string role { get; set; }
                                public byte[]? avatar { get; set; }
                                public DateTime created_at { get; set; }
                                public DateTime updated_at { get; set; }*@
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in ViewBag.Users)
                        {
                            <tr>
                                @*<td>
                                        <label class="checkboxs">
                                            <input type="checkbox">
                                            <span class="checkmarks"></span>
                                        </label>
                                    </td>*@
                                @*<td>@user.updated_at.ToString("MM/dd/yyyy")</td>*@

                                <td>@user.first_name @user.last_name</td>
                                <td>@user.username</td>
                                <td>@user.phone</td>
                                <td>
                                    <a href="mailto:@user.email" class="__cf_email__"
                                       data-cfemail="fb8f9394969a88bb9e839a968b979ed5989496">@user.email</a>
                                </td>
                                <td>@user.role</td>
                                @*<td>@user.created_at.ToString("MM/dd/yyyy")</td>*@
                                <td><span class="bg-lightgreen badges">Active</span></td>
                                <td>
                                    <a class="me-3" asp-action="Edit" asp-route-id="@user.user_id">
                                        <img src="assets/img/icons/edit.svg" alt="Edit">
                                    </a>
                                    <a class="me-3 confirm-text" asp-action="Delete" asp-route-id="@user.user_id">
                                        <img src="assets/img/icons/delete.svg" alt="Delete">
                                    </a>
                                    
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
